body, html {
    height: 100%;
    width: 100%;
}

body {
    background: url(../images/cheap_diagonal_fabric.png);
    margin:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2, h3, h4, .name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5
}

hr {
    opacity: 0.5;
    height: 1px;
    background-color: #777777;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}

header, .content, footer {
    width: 100%;
    min-height:50px;
    box-sizing: border-box;
  }

  .main {
    width: 100%;
  }

  .container {
    width:960px;
    min-height:100px;
    margin:0 auto;
    box-sizing: border-box;
    overflow: auto;
  }
  .content {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .content .container {
    background-color: white;
    padding: 20px;
  }

  header {
    background-color: white;
  }

  header .name {
    background-color: #4aaaa5;
    width: auto;
    color: white;
    padding:20px 40px;
    font-size: 36px;
    font-weight: bold;
    float:left;
    margin-top: 20px;
  }

  footer {
    background-color: #666;
    color: white;
    border-top:4px solid #4aaaa5;
    text-align: center;
    margin-top:150px;
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 50px;
  }
  
  li {
      display: inline;
      padding: 2px;
  }

li:not(:first-child):before {
    content: " | ";
    opacity: 0.5;
}

  form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    opacity: 0.5;
  }

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

  .message {
    height: 120px;
  }

  .profile {
    float: left;
    padding: 20px;
    border-color: #777777;
  }

  textarea {
    width: 100%;
  }

  .img1 {
    float: left;
    border-color:#777777;
    padding: 20px;
  }

  .img2 {
    float: left;
    border-color:#777777;
    padding: 20px;
  }

  .img3 {
    clear: both;
    float: left;
    border-color:#777777;
    padding: 20px;
  }

.imgcontainer {
  position: relative;
}

.text-block {
  position: relative; 
  bottom: 50px;
  background-color: #4aaaa5;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 980px) {
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .content {
    width: 100%;
  }
  footer {
    width: 100%;
  }
 .name {
   width: 100%;
   margin-left: 25%;
   margin-bottom: 10px;
 } 
 ul {
   width: 100%;
   text-align: center;
 }
}